@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@300;400;700&display=swap');

html {
    font-family:'Radio Canada', sans-serif;
    background-color: #FFFFFF;
    color:#464646;
    line-height: 1rem;
    scroll-behavior: smooth;
}

img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 300px;

}