.juegof {
    width: 65%;
    margin: 0 auto;
    display: flex;
    gap:1.25rem;
    max-width: 1920px;
    padding:1.5rem 0;
    font-size: 1.2rem;
    color: black;
}

.juegof__img{
    border: 5px solid black;
    opacity: 10%;
}

.juegof__imgCorrecta{
    transition: 1.5s;
}

.juegof__opciones {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.juegof__frase {
    font-size: 2rem;
    flex-basis: 100%;
    text-align: center;  
}

.juegof__frase::before {
    content: attr(data-content);
}

.juegof__opcion {
    flex-basis: 50%;
    text-align: center;
    cursor: pointer;
    box-shadow: 5px 5px 4px rgb(150, 148, 148);
    padding: 0.5rem;
    margin: 0 auto;
}

.opcion__deshabilitada {
    pointer-events:none;
}

.opcion__acertada{
    transition: 1.5s;
    background-color: rgb(78, 214, 15);
}

.opcion__erronea{
    transition: 1.5s;
    opacity: 25%;
    background-color: rgb(255, 157, 157);
}

.juegof__opcion::before {
    content: attr(data-content);
}

.juegof__opcion:hover {
    transition: 0.4s;
   background-color: #a1defc;
}

.juegof__opcion:active {
    
   background-color: #2D435E;
   color:white;
}

.siguiente, .restart {
    align-self: center;
    font-size: 3rem;
    opacity: 10%;
    
}

.siguiente__hab{

    transition: 1s;
    opacity: 100%;
    cursor: pointer;
    text-shadow: 5px 5px 4px rgb(150, 148, 148);
}

.siguiente__hab:hover {
    transition: 0.4s;
    text-shadow: 5px 5px 4px rgb(255, 255, 255);
    color: #a1defc;
}




