.return {
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    max-width: 1920px;
    margin-bottom: 13.9rem;
}


.volverMenu {
    display: inline-block;
    position: relative;
    color: black;
    cursor: pointer;
  }

  .volverMenu::before {
    content: "Volver al menu principal"
  }

 .volverMenu:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 3px;
   top: 18px;
   left: 0;
   background-color: #0087ca;
   transform-origin: bottom right;
   transition: transform 0.35s ease-out;
 }
 
 .volverMenu:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
 }